@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
}

h1 {
	color: #66bbff;
}

.botao01 {
	text-decoration: none;
	background-color: #66bbff;
	padding: 5px 10px 5px 10px;
	color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 5px;
}